/* Sticky footer styles
-------------------------------------------------- */
html {
    position  : relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px !important;
    background-color: #f5f5f5 !important;
    /* Margin bottom by footer height */
}

.footer {
    position        : absolute;
    bottom          : 0;
    width           : 100%;
    height          : 50px;
    /* Set the fixed height of the footer here */
    background-color: #D9D4CE;
}

img {
    width: 100%;
}

.home-container {
    max-width: 1280px!important;
    margin-left: auto;
    margin-right: auto;
}

.header-container{
    max-width: 1280px;
}

.bg-t-color{
     background-color:#000B8D !important;
}

.bg-img {
    background-image   : url("../img/top-cover.jpg");
    background-size    : cover;
    background-position: center 60%;
}


/* Custom page CSS
 * Not required for template or sticky footer method.
 * -------------------------------------------------- */

body>.container {
    padding: 10px 15px 0;
}

.container .text-muted {
    margin: 20px 0;
}

.footer>.container {
    padding-right: 15px;
    padding-left : 15px;
}

code {
    font-size: 80%;
}

.row {
    margin-bottom: 10px;
}

/* フォーム */
.flash {
    color        : #ff4040;
    margin-bottom: 5px;
    font-weight  : bold;
}

.form-group {
    margin-bottom: 10px;
}

.form-question {
    font-weight: bold;
    font-size  : larger;
}

.img-selection-group {
    overflow          : auto;
    max-height        : 150px;
    -ms-overflow-style: none;
    /* IE, Edge 対応 */
    scrollbar-width   : none;
    /* Firefox 対応 */
}

@media (min-width: 576px) {
    .img-selection-group {
        max-height: 180px;
    }
}

@media (min-width: 768px) {
    .img-selection-group {
        max-height: 210px;
    }
}

@media (min-width: 992px) {
    .img-selection-group {
        max-height: 250px;
    }
}

@media (min-width: 1200px) {
    .img-selection-group {
        max-height: 270px;
    }
}

@media (min-width: 1400px) {
    .img-selection-group {
        max-height: 300px;
    }
}

.img-selection-group::-webkit-scrollbar {
    /* Chrome, Safari 対応 */
    display: none;
}


.img-selection-group input[type="checkbox"] {
    display: none;
}

/* 画像部分に余白を持たせる */
.img-selection-group label img {
    margin: 2px;
}

/* 選択されたラジオボタンの画像の背景をオレンジ色に変える */
.img-selection-group input[type="checkbox"]:checked+label img {
    background: orange;
}

@media (hover: hover) {
    label img:hover {
        background-color: peachpuff;
    }
}


.required:after {
    content         : "必須";
    background-color: #ff4040;
    color           : #fff;
    font-size       : 12px;
    font-weight     : bold;
    min-width       : 10px;
    padding         : 3px 7px;
    margin          : 0px 5px;
    line-height     : 1;
    vertical-align  : middle;
    white-space     : nowrap;
    text-align      : center;
    border-radius   : 10px;
    display         : inline-block;
}

.btn-lg-more{
    padding: 1.0rem!important;
}


/* ナブバーの修正 */
.navbar-dark .navbar-brand {
    color: rgba(226, 27, 77) !important;
    font-weight: bolder;
}

.navbar-dark .navbar-brand:hover,
.navbar-dark .navbar-brand:focus {
    color:  rgba(226, 27, 77, 0.75)!important;
}

.navbar-dark .navbar-nav .nav-link {
    color: white !important;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus {
    color: #FFD300!important;
}

.navbar-dark .navbar-nav .nav-link.disabled {
    color: rgba(255, 255, 255, 0.25);
}

.navbar-dark .navbar-nav .show>.nav-link,
.navbar-dark .navbar-nav .nav-link.active {
    color: #fff;
}

.navbar-dark .navbar-toggler {
    color       : rgba(255, 255, 255, 0.55);
    border-color: rgba(255, 255, 255, 0.1);
}

.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-dark .navbar-text {
    color: rgba(255, 255, 255, 0.55);
}

.navbar-dark .navbar-text a,
.navbar-dark .navbar-text a:hover,
.navbar-dark .navbar-text a:focus {
    color: #fff;
}