<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">PRA</a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#Navber"
            aria-controls="Navber" aria-expanded="false" aria-label="ナビゲーションの切替">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="Navber">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">ホーム</a>
                </li>
                <li class="nav-item">
                    {% if current_user.is_authenticated %}
                    <a class="nav-link" href="{{ url_for('auth.logout') }}">{{ current_user.name }}さん：ログアウト</a>
                    {% else %}
                    <a class="nav-link" href="{{ url_for('auth.login') }}">ログイン</a>
                    {% endif %}
                </li>
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        ドロップダウン
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">メニュー1</a></li>
                        <li><a class="dropdown-item" href="#">メニュー2</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">その他</a></li>
                    </ul>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">無効</a>
                </li> -->
            </ul>
            <form class="d-flex">
                <input type="search" class="form-control me-sm-2" placeholder="検索..." aria-label="検索...">
                <button type="submit" class="btn btn-outline-success flex-shrink-0">検索</button>
            </form>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>