{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="home-container container">
  <div class="col-11 align-self-center container-fluid pt-1">
    <div class="row">
      <div class="col-md-2">
        <h2>サブタイトル</h2>
      </div>
      <div class="col-md-10 bg-white py-3 px-3">
        <div class="d-grid gap-2">
          <div class="row small">
            <div class="col review-header mb-2">
              <div class="user">
                {{review.user_name}}<span class="text-secondary">さんの投稿</span>
              </div>
              <div class="time text-secondary">
                {{review.created_at.strftime("%Y{}%m{}%d{}").format("年","月","日に投稿")}}</div>
            </div>
            <div class="col-12">
              <h1 class="content-title">{{review.review_title}}</h1>
            </div>
            <div class="col-md-3">
              <span class="star5_rating text-bigger" data-rate="{{review.star}}">{{review.star}}</span>
            </div>
            <div class="col-md-9 mb-1">
              {% if review.emotion_id1 is not none %}
              <span class="badge bg-secondary text-1">{{emotions[review.emotion_id1].emotion}}</span>
              {% endif %}
              {% if review.emotion_id2 is not none %}
              <span class="badge bg-secondary text-1">{{emotions[review.emotion_id2].emotion}}</span>
              {% endif %}
              {% if review.emotion_id3 is not none %}
              <span class="badge bg-secondary text-1">{{emotions[review.emotion_id3].emotion}}</span>
              {% endif %}

            </div>
            <div class="col-12">
              <h2>
                <a href="{{review.url}}" target="_blank" rel="noopener noreferrer">{{review.video_title}}</a>
              </h2>
            </div>


            <div class="p-3">
              <p>{{review.review_comment|cr}}</p>
            </div>


            <!-- <div class="card">
                        <h5 class="card-header">{{review.review_title}}</h5>
                        <div class="card-body">
                            <h5 class="card-title">{{review.video_title}}</h5>
                            <p class="card-text">{{review.target_person}}</p>
                            <a href="#" class="btn btn-info">レビュー詳細</a>
                            <a href="{{review.url}}" class="btn btn-primary" target="_blank"
                                rel="noopener noreferrer">PrimeVideoへ</a>
                        </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}