<!DOCTYPE html>
<html lang="ja">
    <head>
        <title>{% block title %}{% endblock %} - Rakuichi</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
        <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        {% block js %}{% endblock %}
        
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">

    </head>


    <body>
        {% include "share/navbar.html" %}
        {% block content %}{% endblock %}
        {% include "share/footer.html" %}
    </body>



</html>