{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="home-container container">
    <div class="container-fluid">
        <h1>Prime Recommend App</h1>
        <p>あなたのおすすめPrimeVideo作品を共有しよう！</p>
    </div>
    <div class="container-fluid pt-1">
        <div class="row">
            <div class="col-md-2">
                <h2>サブタイトル</h2>
            </div>
            <div class="col-md-10 bg-white">
                <div class="d-grid gap-2 d-block">
                      {%if all_reviews is not none%}
                    {% for review in all_reviews %}
                    <div class="card">
                        <h5 class="card-header">{{review.review_title}}</h5>
                        <div class="card-body">
                            <h5 class="card-title">{{review.video_title}}</h5>
                            <p class="card-text">{{review.target_person}}</p>
                            <a href="#" class="btn btn-info">レビュー詳細</a>
                            <a href="{{review.url}}" class="btn btn-primary" target="_blank"
                                rel="noopener noreferrer">PrimeVideoへ</a>
                        </div>
                    </div>
                    {% endfor %}
                    {%endif%}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}